// move me
$colorBlack: #333;
$colorGrey: rgb(224, 224, 224);
$colorPendingMilestone: rgb(154, 216, 154);
$colorCompleteMilestone: rgb(0, 177, 0);

body {
    font: 200 1em Helvetica, sans-serif;
}
h2 {
    margin: 0 0 14px 0;
    font-size: 1.4em;
}
ul {
    padding: 0 0 0 24px;

    li {
        position: relative;
        margin: 8px 0;
        list-style: none;
        // font-size: 0.9em;

        &:before {
            position: absolute;
            top: 2px;
            bottom: 3px;
            left: -8px;
            width: 3px;
            content: '';
            background: $colorBlack;
            border-radius: 3px;
        }
    }
}


@import 'milestone';
@import 'timeline-bar';
